extends ./layouts/wrapper-color

mixin createComment(comment)
  li.publication__list-item
    .publication__header
      img.publication__list-image(src=`/img/avatars/${comment.users.avatar}` width='20' height='20' alt='Аватар пользователя')
      b.publication__list-name= `${comment.users.firstName} ${comment.users.lastName}`
      time.publication__item-time(datetime= comment.date)= comment.date
    a.publication__item-text(href= `/articles/${comment.articles.id}`)= comment.articles.title
    p.publication__text-strong= comment.text
    a.publication__button.button.button--close-item(href=  `/my/comments-delete/${comment.id}`)

      span.visually-hidden Закрыть строку списка

block headerContent
  include headers/header-admin

block mainContent
  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии

      include blocks/errors


      ul.publication__list
        each comment of comments
          +createComment(comment)


