extends ./layouts/wrapper


mixin createTheme(theme, count, categoryId)
  li.themes__item
    if id == categoryId
      a.themes__item-link.themes__item-link--active
    else 
      a.themes__item-link(href= `/articles/category/${categoryId}`)= theme
        sup= count


mixin createPopArticle(title, comments)
  li.hot__list-item
    a.hot__list-link(href='#')= title
      sup.hot__link-sup= comments.length


mixin createPreviewCategory(item)
  li.preview__breadcrumbs-item
    a.preview__breadcrumbs-link(href='#')= item


mixin createPreviewArticle(title, announce, category, comments, createdDate)
  li.preview__item
    ul.preview__breadcrumbs
      each item of category
        +createPreviewCategory(item.name)
    .preview__background
      img.preview__background-image(src='img/skyscraper@1x.jpg' width='460' height='240' srcset='img/skyscraper@1x.jpg, img/skyscraper@2x.jpg 2x' alt='Фотография небоскреба')
    time.preview__time(datetime='2019-03-21T20:33')= createdDate
    h3.preview__name
      a.preview__name-link(href='#')= title
    p.preview__text= announce
    a.preview__comment(href='#')
      | Комментарии
      span.preview__cloud
      |
      b.preview__comment-count= comments.length


mixin createPage(page, active)
  if active
    li.pagination__item.pagination__item--active
      a.button--disabled(href='#')= page
  else
    li.pagination__item
      a(href=`?page=${page}`)= page


mixin createArrowPage(backwards, page, totalPage)
  li
    if backwards
      if page == 1
        a.pagination__button.button.button--backwards.button--disabled(href='#' aria-label='Страница назад') Назад
      else
        a.pagination__button.button.button--backwards(href=`?page=${page - 1}` aria-label='Страница назад') Назад  
    else 
      if page == totalPage
        a.pagination__button.button.button--forward.button--disabled(href='#' aria-label='Страница вперед') Вперед
      else 
        a.pagination__button.button.button--forward(href=`?page=${page + 1}` aria-label='Страница вперед') Вперед


mixin createComment(comment)
  li.last__list-item
    img.last__list-image(src=`img/${comment.users.avatar}` width='20' height='20' alt='Аватар пользователя')
    b.last__list-name= comment.users.name
    a.last__list-link(href='#')= comment.text
    

block headerContent
  include ./headers/header-sign-out
  //- include ./headers/header-sign-in
  //- include ./headers/header-admin


block mainContent
  main.main-page
      
      h1.visually-hidden Главная страница личного блога Типотека
      p.

        Это приветственный текст, который владелец блога может выбрать, чтобы описать себя 👏
        
      section.main-page__theme-list
        h2.visually-hidden Список тем
        ul.themes

          each category of categories
            +createTheme(category.name, category.count, category.id)


      .main-page__section-flex
        section.main-page__hot.hot
          h2.hot__name
            | Самое обсуждаемое
            span.hot__icon.hot__icon--fire

          ul.hot__list

            if (articles)
              each article of articles
                +createPopArticle(article.title, article.comments)


        section.main-page__last.last
          h2.last__name
            | Последние комментарии
            span.last__icon.last__icon--cloud

          ul.last__list

            if (comments)
              each comment of comments 
                +createComment(comment)


      section.main-page__list.preview
        h2.visually-hidden Список превью статей

        ul.preview__list

          if (articles)
            each article of articles
              +createPreviewArticle(article.title, article.announce, article.categories, article.comments, article.createdDate)

      if (totalPage && page)
        .preview__toggle-wrapper
          ul.preview__pagination.pagination
            +createArrowPage(1, page, totalPage)

            each item of pages 
              +createPage(item, item == page)

            +createArrowPage(0, page, totalPage)

