extends ./layouts/wrapper


mixin createCategory(category)
  li.themes__item
    a.themes__item-link(href='#')= category.name
      sup= category.count
    //- button.themes__remove-btn(type='button') Удалить категорию

mixin createComment(comment)
  li.comments__comment
    .comments__avatar.avatar
      //- img(src= comment.users.avatar alt='аватар пользователя') // user!
    .comments__text
      .comments__head
        //- p= comment.users.name // user!
         span •
        time.comments__date(datetime='2019-03-21T20:33')= comment.date
      p.comments__message= comment.text



block headerContent
  include ./headers/header-sign-in


block mainContent
  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        .post__wrapper
          .post__head
            a.post__backwards.button.button--backwards(href='#') Назад
            time.post__date(datetime='2019-03-21T20:33')= article.date
              //- 21.03.2019, 20:33
            h2.post__title.title.title--main= article.title
            ul.post__themes.themes
              each category of categories
                +createCategory(category)


          .post__picture
            img(src=`/img/${article.picture}` alt= article.title)
          .post__text
            h3= article.announce
            p= article.fullText

      .post__wrapper.post__wrapper--comments
        section.post__comments.comments
          h2.comments__title.title.title--middle Комментарии
          ul.comments__list

            each comment of comments
              +createComment(comment)


          .comments__footer.comments__footer--user

            form(action=`/articles/${article.id}/comments` method="post" enctype="multipart/form-data" autocomplete="off")
              .comments__avatar.avatar
                img(src='/img/avatar-2.png' alt='аватар пользователя')

              label
                textarea(rows='1' name='text' placeholder='Присоединиться к обсуждению')
              button.comments__button.button.button--colored(type='submit') Опубликовать

        include ./blocks/errors

