extends ./layouts/wrapper

mixin createTheme(theme, count, categoryId)
  li.themes__item
    a.themes__item-link(href= `/articles/category/${categoryId}`)= theme
      sup= count



mixin createComment(comment)
  li.comments__comment
    .comments__avatar.avatar
      img(src=`/img/avatars/${comment.users.avatar}`  alt='аватар пользователя')
    .comments__text
      .comments__head
        p= `${comment.users.firstName} ${comment.users.lastName} • `
        time.comments__date(datetime='2019-03-21T20:33')= comment.date
      p.comments__message= comment.text



block headerContent
  include ./headers/header


block mainContent
  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        .post__wrapper
          .post__head
            a.post__backwards.button.button--backwards(href= back) Назад
            time.post__date(datetime='2019-03-21T20:33')= article.date
            h2.post__title.title.title--main= article.title
            ul.post__themes.themes
              each category of categories
                +createTheme(category.name, category.count, category.id)


          if (article.picture)
            .post__picture
              img(src=`/img/articles/${article.picture}` alt= article.title)
          .post__text
            h3= article.announce
            p= article.fullText

      .post__wrapper.post__wrapper--comments#comment-anchor
        section.post__comments.comments
          h2.comments__title.title.title--middle= `${ comments.length ? "Комментарии" : "Комментарии отсутствуют"}`
          ul.comments__list

            each comment of comments
              +createComment(comment)

          include ./blocks/comment

        include ./blocks/errors

